<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Happy Birthday To You</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <span class="light">Happy Birthday To You</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#synopsis">Synopsis</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#characters">Characters</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#casting_schedule">Casting Schedule</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#tickets">Tickets</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#maps">Map</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <img src="/static/img/title.png" style="width: 90%; margin-top:50px;">

                    <div class="col-md-8 col-md-offset-2">
                        <a href="#synopsis" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="synopsis" class="content-section text-center">
        <div class="synopsis-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Synopsis</h1>
                    <p>떠오르는 신예 스타 한휘.</p>
                    <p>그는 30번째 생일파티를 하던 중 의문의 편지를 남긴 채 실종된다. 그로부터 일주일 후 싸늘한 주검으로 발견되고 생일 파티에 있었던 사람들은 모두가 살인 용의자로 지목이 된다.</p>
                    <p>그의 죽음은 타살일까? 자살일까?</p>
                    <p>죽은 휘를 둘러싼 비밀과 진실들이 하나둘씩 드러나면서 <br>사건은 점점 미궁속으로 빠져드는데 .. </p>
                </div>
            </div>
        </div>
    </section>
    <section id="characters" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Characters & Cast</h1>

                <div style="margin-top: 50px;">
                    <h3>한 휘</h3>
                    <p>어두운 과거를 딛고 정상에 오른 대한민국의 탑스타로 바람둥이이며 우울증을 앓고 있다</p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <img src="/static/img/hae.png" height="250">
                            <p>임해윤</p>
                        </li>
                        <li>
                            <img src="/static/img/bumsik.png" height="250">
                            <p>이범식</p>
                        </li>
                        <li>
                            <img src="/static/img/minchan.png" height="250">
                            <p>김민찬</p>
                        </li>
                    </ul>
                </div>

                <div style="margin-top: 50px;">
                    <h3>김미주</h3>
                    <p>휘의 코디네이터. 휘의 오래된 팬이었다가 휘 때문에 그의 코디가 됐으며, 휘를 짝사랑하지만 표현 하지 못한다.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <img src="/static/img/jihye.png" height="250">
                            <p>박지혜</p>
                        </li>
                        <li>
                            <img src="/static/img/sujung.png" height="250">
                            <p>윤수정</p>
                        </li>
                        <li>
                            <img src="/static/img/dami.png" height="250">
                            <p>김다미</p>
                        </li>
                    </ul>
                </div>
                
                <div style="margin-top: 50px;">
                    <h3>나종희</h3>
                    <p>휘를 연예계로 데뷔시킨 기획사 대표. 그의 과거를 빌미로 갑짏을 한다.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <img src="/static/img/sanghee.png" height="250">
                            <p>서상희</p>
                        </li>
                        <li>
                            <img src="/static/img/jiwon.png" height="250">
                            <p>최지원</p>
                        </li>
                        <li>
                            <img src="/static/img/yang.png" height="250">
                            <p>양은숙</p>
                        </li>
                    </ul>
                </div>

                <div style="margin-top: 50px;">
                <h3>정도식</h3>
                <p>휘의 성실한 매니저이자 오랜 친구로 그의 모든 것을 알고 늘 곁에서 도와준다</p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <img src="/static/img/algok.png" height="250">
                        <p>이성윤</p>
                    </li>
                    <li>
                        <img src="/static/img/chul.png" height="250">
                        <p>임철형</p>
                    </li>
                    <li>
                        <img src="/static/img/inkyu.png" height="250">
                        <p>박인규</p>
                    </li>
                </ul>
                </div>

                <div style="margin-top: 50px;">
                <h3>최정옥</h3>
                <p>휘의 가사 도우미로 평소 그를 자식처럼 아끼고 걱정하며 돌봐준다.</p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <img src="/static/img/eunkyong.png" height="250">
                        <p>임은경</p>
                    </li>
                    <li>
                        <img src="/static/img/minjunga.png" height="250">
                        <p>전민정</p>
                    </li>
                    <li>
                        <img src="/static/img/sunhee.png" height="250">
                        <p>황선희</p>
                    </li>
                </ul>
                </div>

                <div style="margin-top: 50px;">
                    <h3>진여은</h3>
                    <p>여배우이자 휘의 전 여친. 휘와의 스캔들로 인해 대중으로부터 질타를 받고 있다.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <img src="/static/img/jisung.png" height="250">
                            <p>안지성</p>
                        </li>
                        <li>
                            <img src="/static/img/minjungb.png" height="250">
                            <p>김민정</p>
                        </li>
                        <li>
                            <img src="/static/img/likyung.png" height="250">
                            <p>김리경</p>
                        </li>
                    </ul>
                </div>

                <div style="margin-top: 50px;">
                    <h3>이강한</h3>
                    <p>예리한 수사와 높은 검거율로 촉망받는 경찰대학 출신의 형사 반장.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <img src="/static/img/junhyuck.png" height="250">
                            <p>윤준혁</p>
                        </li>
                        <li>
                            <img src="/static/img/hanmo.png" height="250">
                            <p>이한모</p>
                        </li>
                        <li>
                            <img src="/static/img/seunghyun.png" height="250">
                            <p>이승현</p>
                        </li>
                    </ul>
                </div>
                
                <div style="margin-top: 50px;">
                    <h3>민석우</h3>
                    <p>사회적 지위와 명성을 모두 겸비한 정신과 의사. 휘의 담당 의사이자 나종희의 불륜 상대.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <img src="/static/img/youngsoo.png" height="250">
                            <p>김용수</p>
                        </li>
                        <li>
                            <img src="/static/img/myungjin.png" height="250">
                            <p>이명진</p>
                        </li>
                        <li>
                            <img src="/static/img/ha.png" height="250">
                            <p>김하명</p>
                        </li>
                    </ul>
                </div>
                
                <div style="margin-top: 50px;">
                    <h3>강이나</h3>
                    <p>재벌 2세 외동딸로 휘의 현재 여친. 어머니가 회장의 2번째 부인으로 집안에서도 인정을 받지 못한다.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <img src="/static/img/seungeun.png" height="250">
                            <p>이승은</p>
                        </li>
                        <li>
                            <img src="/static/img/hyuna.png" height="250">
                            <p>이현아</p>
                        </li>
                        <li>
                            <img src="/static/img/jiyun.png" height="250">
                            <p>김지윤</p>
                        </li>
                    </ul>
                </div>
                
                <div style="margin-top: 50px;">
                    <h3>기자</h3>
                    <p>디스패치의 베타랑 연예부 기자로 자신을 스스로 기레기라고 얘기할 만큼 교활하고 속물이다.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <img src="/static/img/kiho.png" height="250">
                            <p>박기호</p>
                        </li>
                        <li>
                            <img src="/static/img/hanna.png" height="250">
                            <p>강한나</p>
                        </li>
                        <li>
                            <img src="/static/img/yuno.png" height="250">
                            <p>이윤호</p>
                        </li>
                    </ul>
                </div>
                 <div style="margin-top: 50px;">
                    <h3>연출</h3>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <img src="/static/img/youngjun.png" height="250">
                            <p>박영준</p>
                        </li>

                    </ul>
                </div>          
                 <div style="margin-top: 50px;">
                    <h3>안무</h3>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <img src="/static/img/keunyoung.png" height="250">
                            <p>배근영</p>
                        </li>

                    </ul>
                </div>        
                 <div style="margin-top: 50px;">
                    <h3>스텝</h3>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <img src="/static/img/yuna.png" height="250">
                            <p>강윤아</p>
                        </li>
                        <li>
                            <img src="/static/img/jj.png" height="250">
                            <p>김재중</p>
                        </li>
                        <li>
                            <img src="/static/img/miryoung.png" height="250">
                            <p>임미령</p>
                        </li>

                    </ul>
                </div>        
            </div>
        </div>
    </section>
    <!-- Download Section -->
    <section id="casting_schedule" class="content-section text-center">
        <div class="schedule-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Casting Schedule</h2>
                    <p>캐스팅 스케쥴</p>
                    <p>캐스팅 스케쥴</p>
                    <p>캐스팅 스케쥴</p>
                    <p>캐스팅 스케쥴</p>
                    <p>캐스팅 스케쥴</p>
                    <p>캐스팅 스케쥴</p>
                    <p>캐스팅 스케쥴</p>
                    <p>캐스팅 스케쥴</p>
                    <p>캐스팅 스케쥴</p>
                    <p>캐스팅 스케쥴</p>
                    <p>캐스팅 스케쥴</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="tickets" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h1>Tickets</h1>
                <div class="col-lg-8 col-lg-offset-2" style="text-align: left;">

                <p>일시 : 2016년 1월 27일(수) ~ 31일 (일)</p>
                <p>시간 : 평일 8시 & 주말 1시, 4시 7시</p>
                <p>가격 : 1만원</p>
                <p>장소 : 대학로 알과핵 소극장</p>
                </div>
                <a href="http://goo.gl/forms/wt9igbfXzl" target="_blank" class="btn btn-danger" style="font-size: 20px; text-align: center">예매하기</a>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <section id="maps" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>오시는길</h1>
                    <a href="http://map.naver.com/index.nhn?pinTitle=%EC%95%8C%EA%B3%BC%ED%95%B5%EC%86%8C%EA%B7%B9%EC%9E%A5&pinType=site&pinId=11639690&mapMode=0" target="_blank"><img src="/static/img/map.png" style="width: 80%;"></a>
                    <div class="col-lg-10 col-lg-offset-1" style="text-align: left; margin-top:20px;">
                    <p>지하철 : 지하철 4호선 혜화역 2번 출구(공원방향)로 나와 마로니에공원(예술가의 집)과 방송통신대학 사잇길로 50m지점</p>
                    <p>버스 : 151, 171, 172, 2112번 이용</p>
                    </div>
            </div>
        </div>
    </section>



    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/grayscale.js"></script>

</body>

</html>
